<section>
    <div fxLayout="row" fxLayoutGap="10px" fxLayout.sm="column" class="container">
        <div fxFlex="2 0 auto" fxLayoutAlign="start">
            <h4>History</h4>
          </div>
          <div fxLayoutAlign="start">
            <span style="float: right;">
                <button mat-flat-button color="primary" style="height: 35px;" (click)="onClear()">Clear</button> 
            </span>
          </div>
    
    </div>
    <div *ngFor="let item of data">
        <span>Name : </span>
        <span class="name_style" (click)="onsearch(item)">{{item.name}}</span>
        <span style="margin-left: 10px;"></span>
        <span>Status : </span>
        <span>{{item.status}}</span>
    </div>
</section>